<style>
    @media(max-width:300px){
        #prjzc{
            display: flex;
            flex-direction: row;
        }
    }
</style>

<div class="container">
    <div class="container">
        <h2 class="display-3">O meni</h2>

    </div>
    <div class="container">
        <p class="lead">
            Zovem se Amir Čeljo . Trenutno sam na dvogodišnjem studiju iz informacionih tehnologija u Sarajevu. IT struku pronalazim vrlo zanimljivom i smatram da je to nešto što će promijeniti svijet.
            Pored drugih hobija , IT i programiranje mi je nekako nešto što smatram korisnijim i zabavnijim na duže staze , ne samo za neke tvrtke i kompanije , već i za mene lično , stoga se trudim da pronađem istražim , što više o svemu .
            Posebno se usmjeravam na istraživanju računarskih mreža i baza podataka na web serverima , pored objektivnijeg programiranja.

        </p>
       
    </div>
 <div class="container mt-4 mb-5">
        <h6 class="text-center">Programski jezici</h6>
        <div class="row justify-content-center m-auto" id="prjzc">
            
                <i class="fab fa-python m-1 fa-2x"></i>
          
                <i class="fab fa-node-js m-1 fa-2x"></i>
         
           
                <i class="fab fa-js m-1 fa-2x"></i>
        
                <i class="fab fa-html5 m-1 fa-2x"></i>
   

                <i class="fab fa-css3-alt m-1 fa-2x"></i>
           
            
        </div>
        </div>
    <div class="container">
        <p class="lead">Nekoliko mojih radova</p>
    </div>    
        
        <div class="container p-4 border ">
            <p class="lead ml-auto text-success">1. Administratorski panel i usluga</p>
            <div class="row m-auto justify-content-md-center">
                <img src="Slike/slika1.png" class="m-2"width="200" height="200" alt="">
                <img src="Slike/slika2.png" class="m-2"width="300" height="200" alt="">
                <img src="Slike/slika3.png" class="m-2"width="300" height="200" alt="">
            </div>
            <p class="lead">
                Ideja je da frizerski salon ima svoj tablet na kojem je pokrenuta aplikacija kako bi mušterije mogle da ostave dojam kod koga su bili na usluzi (slika 1)
            </p>
            <p class="lead">
                S druge strane , administrator bi imao svoj panel na kojem bi mogao da prati dojmove na mjesečnom nivou (slika 3), tj koji radnik je u toku mjeseca imao najviše zadovoljnih mušterija i na osnovu toga bi mogao istog unaprijediti.
            </p>
            <p class="lead">
                Također, administrator može na kraju smjene sabrati dnevni pazar i unijeti u polje pod nazivom "Dodaj dnevni izvještaj" (slika2) gdje se nakon toga stanje bilježi u linearnu skalu.Također služi kako bi administrator ili šef smjene mogao da prati dnevni izvještaj na mjesečnom nivou i na osnovu toga mogao da uprati kojim danima u mjesecu ima najviše , a kojim danima manje posla kako bi u tim danima mogao ponuditi neku akciju , smisliti ove ideje o unapređenju i širenju poslovanja.
            </p>
            <p class="lead text-info">
                Još jednom , aplikacija je napravljena kao ideja koja može dalje da se razvija.
            </p>
        </div>
         <div class="container p-4 border mt-2 ">
            <p class="lead ml-auto text-success">2. Card'S igrica</p>
            <div class="row m-auto justify-content-md-center">
                <img src="Slike/card1.png" class="m-1"width="250" height="250" alt="">
                <img src="Slike/card2.png" class="m-1"width="220" height="300" alt="">
                <img src="Slike/MojGif.gif" class="m-1"width="250" height="250" alt="">
                
            </div>
            
            <p class="lead">
                Jednostavna igrica u kojoj učestvuju dva igrača. 
            </p>
            <p class="lead">
                Igrači biraju prozorčić iza kojeg se nalaze neki slučajni brojevi od 1 do 10 , nakon čega im se isti nadodaju na rezultat (score).
                Prozorčić se rotira za 180 stepeni i pokazuje broj nakon čega se rotira nazad i broj iza kartice se mijenja.
                Prvi igrač koji osvoji 50 bodova je pobjednik .
            </p>
            <p class="lead">
                Hint u igrici je ako igrač dobije smajlija , score je duplo veći , a ako dobije ljutka, score se vraća na 0.
            </p>
            <p class="lead text-info">
                Studijski projekat za ocjenu    
            </p>
        </div>
         <div class="container p-4 border mt-2 ">
            <p class="lead ml-auto text-success">3. Restoran Seafood , Wine bar Mornar</p>
            <div class="row m-auto justify-content-md-center">
               
                <img src="Slike/gif1.gif" class="m-1"width="350" height="250" alt="">
                <img src="Slike/gif2.gif" class="m-1"width="350" height="250" alt="">

                
            </div>
            
            <p class="lead">
                Web stranica za restoran 
            </p>
            <p class="lead">
                Na stranici se mogu vidjeti slike restorana , ponuda i menü itd. 
            </p>
            <p class="lead">
                Stranica takodjer ima blog i korisnike.
            </p>
            <p class="lead text-info">
            Također kao ideja za razvoj web stranice koja posjeduje pored svega navedenog , narudžbe i plaćanje preko stranice putem Paypala ili kartično..
            (zbog autorskih prava nije započeto)    
            </p>
        </div>
        <div class="container p-4 border mt-2 ">
            <p class="lead ml-auto text-success">4. Dodavanje slika preko baze podataka i autentifikacija korisnika na profil</p>
            <div class="row m-auto justify-content-md-center">
               
                <img src="Slike/gif3.gif" class="m-1"width="350" height="250" alt="">
                <img src="Slike/gif4.gif" class="m-1"width="350" height="250" alt="">

                
            </div>
            
            <p class="lead">
                Dodavanje slika putem GridFS frameworka i Passport-local strategije za registrovanje korisnika u MongoDB bazu podataka i putem Nodejs aplikacije provjeru korisnika za login na profil itd..
            </p>
            <p class="lead">
                Registracija korisnika u bazu podataka , kao i autentičnost podataka pri logovanju sa tim akauntom.
            </p>
        
        </div>
        <div class="container p-4 border mt-2 ">
            <p class="lead ml-auto text-success">5. Custom majice</p>
            <div class="row m-auto justify-content-md-center">
               
                <img src="Slike/bJemfL.gif" class="m-1"width="350" height="250" alt="">
                

                
            </div>
            
            <p class="lead">
                Aplikacija je trenutno još uvijek u razvoju.
            </p>
            <p class="lead">
                Ideja je da korisnik izabere print po želji i odabere željeno mjesto na majici.
            </p>
        
        </div>
       
    </div>
    <div class="container mt-5">
        <p class="lead">
            I još mnogo drugih.
        </p>
    </div>
</div>