


<div class="container">
    <div class="container">
        <div class="row" >
            <div class="col-sm-6">
    <h2 class="display-4 m-2">Biografija</h2>
    </div>
    <div class="col-sm-6">
        <div class="row mt-4 pt-3" id="biografija">
            <img src="https://img.icons8.com/emoji/48/000000/notebook-emoji.png" class="ml-4"/> 
       <img src="https://img.icons8.com/fluent/48/000000/pencil.png" class="ml-4"/>
        <img src="https://img.icons8.com/ultraviolet/48/000000/reflector-bulb.png" class="ml-4"/>
        </div>
        
    </div>
    </div>
    </div>
    <div class="container">
      <div class="container">
        <p class="lead pt-5">
            Zovem se Amir Čeljo . Trenutno sam na dvogodišnjem studiju iz informacionih tehnologija u Sarajevu. IT struku pronalazim vrlo zanimljivom i smatram da je to nešto što će promijeniti svijet.
            Pored drugih hobija , IT i programiranje mi je nekako nešto što smatram korisnijim i zabavnijim na duže staze , ne samo za neke tvrtke i kompanije , već i za mene lično , stoga se trudim da pronađem istražim , što više o svemu .
            Posebno se usmjeravam na istraživanju računarskih mreža i baza podataka na web serverima , pored objektivnijeg programiranja.

        </p>
    </div>

    </div>
    
</div>



